<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vanda.mapper.PetMapper">

	<insert id="petInsert" parameterType="PetVO">
		INSERT INTO pet(pet_name,
		pet_age, pet_sex, pet_check, kind_num,food_num)
		VALUES ( #{pet_name},
		#{pet_age}, #{pet_sex},#{pet_check},#{kind_num},
		#{food_num})
	</insert>
	<insert id="petRegister" parameterType="String">
		INSERT INTO
		register(pet_num,user_id) select pet_num,user_id from member,pet
		where
		user_id=#{user_id} AND pet_name=#{pet_name}
	</insert>

	<insert id="eatRegister">
		INSERT INTO eat(pet_num,eat_time,eat_gram) values
		(#{pet_num},SYSDATE,0)
	</insert>
	<insert id="weightRegister">
		INSERT INTO Weight(pet_num,weight_date,pet_weight)
		values
		(#{pet_num},SYSDATE,0)
	</insert>

	<insert id="actRegister">
		INSERT INTO ACTIVITY(pet_num, act_path,
		act_name,total_distance,timer)
		values
		(#{pet_num},#{act_path},#{act_name},#{total_distance},#{timer})
	</insert>
<select id="standardEat" resultType="FoodWeightVO">
		select a.food_num,
		a.food_name, b.low_weight, b.high_weight, b.gram
		from food a, (select
		food_num, substr(weight, 0, instr(weight, '~') -1) as
		low_weight,
		substr(weight, instr(weight, '~')+1) as high_weight, gram
		from
		food_weight) b
		where a.food_num = b.food_num
		and a.food_num = #{food_num}
	</select>

	<select id="eatListAndroid" resultType="EatVO">
		SELECT * FROM eat
		WHERE pet_num = #{pet_num} order by eat_time desc
	</select>

	<select id="weightListAndroid" resultType="WeightVO">
		SELECT * FROM weight
		WHERE pet_num = #{pet_num} order by weight_date desc
	</select>

	<select id="todayWeightAndroid" resultType="WeightVO">
		select a.pet_num,
		b.pet_weight,b.weight_date
		from pet a, weight b
		where a.pet_num = b.pet_num
		and a.pet_num = #{pet_num}
		and to_char(b.weight_date, 'YY/MM/DD') =
		to_char(sysdate, 'YY/MM/DD')
		and rownum = 1
		order by b.weight_date desc
	</select>

	<select id="todayEatAndroid" resultType="EatVO">
		select a.pet_num,
		b.eat_gram
		from pet a, eat b
		where a.pet_num = b.pet_num
		and a.pet_num =	#{pet_num}
		and to_char(b.eat_time, 'YY/MM/DD') = to_char(sysdate,
		'YY/MM/DD')
		and rownum = 1
		order by b.eat_time desc
	</select>

	<select id="todayActAndroid" resultType="ActivityVO">
	  select   pet_num,act_num,act_path,act_name,total_distance,timer,act_date
      from (select * from activity where to_char(act_date, 'YY/MM/DD') = to_char(sysdate, 'YY/MM/DD') order by act_date desc)
      where pet_num = #{pet_num}
      and rownum = 1
	</select>

	<select id="recentlyWeightAndroid" resultType="WeightVO">
		SELECT * FROM
		WEIGHT WHERE pet_num = #{pet_num} AND ROWNUM = 1 ORDER BY WEIGHT_DATE
		DESC
	</select>
	
		<select id="readpetNum" resultType="petVO">
			SELECT * FROM POST WHERE PET_NUM = #{petNum}
		</select>

	<select id="getPetNum" resultType="int">
		select pet_num from member,pet
		where user_id=#{user_id} AND
		pet_name=#{pet_name}
	</select>

	<select id="getKcal" resultType="PetVO">
		SELECT *
		FROM
		pet
		WHERE pet_num = #{pet_num}
	</select>
	
	<!-- 펫 우선순위로 보여주기 pet_num만 받아옴 -->
	<select id="getPetInfo" resultType="PetVO">
		SELECT *
		FROM
		pet
		WHERE pet_num
		in (SELECT pet_num from register WHERE user_id =
		#{user_id} )
		ORDER BY
		pet_regdate
	</select>
	<select id="recentPetInfo" resultType="PetInfoVO">
	<![CDATA[
		 select pet_name,pet.pet_num,
    nvl2((select eat_gram from(select * from eat
       where TO_CHAR(eat_time,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by eat_time desc)
       where rownum=1 and pet_num=#{pet_num}),0,0)as eat_gram,
    nvl2((select b.gram
    from food a, (select food_num, substr(weight, 0, instr(weight, '~') -1) as low_weight, substr(weight, instr(weight, '~')+1) as high_weight, gram
    from food_weight) b
    where a.food_num = b.food_num
    and a.food_num = #{food_num}
    and b.low_weight < (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num}))
    and b.high_weight > (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num}))),0,0) as gram,
    nvl2((select pet_weight from(select * from weight
       where TO_CHAR(weight_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by weight_date desc) 
       where rownum=1 and pet_num=#{pet_num}),0,0) as pet_weight,
    (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num})) as avg, 
    (select kind_name from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num})) as kind_name,
    nvl((select total_distance from(select * from activity
        where TO_CHAR(act_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
        order by act_date desc)
        where rownum=1 and pet_num=#{pet_num}),0) as total_distance,
      nvl2((select pet_weight from(select * from weight
       where TO_CHAR(weight_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by weight_date desc) 
       where rownum=1 and pet_num=#{pet_num}),0,0)*99 as recomand_distance
      from pet,eat,weight,activity,kind
      where rownum=1
      and pet.pet_num=eat.pet_num 
      and weight.pet_num=eat.pet_num
      and activity.pet_num = eat.pet_num
      and pet.kind_num = kind.kind_num
      and pet_name = (select pet_name from pet where pet_num=#{pet_num})
        ]]>
	</select>
	
	<select id="petInfo" resultType="PetInfoVO">
	<![CDATA[
	select pet_name,pet.pet_num,
    nvl((select eat_gram from(select * from eat
       where TO_CHAR(eat_time,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by eat_time desc)
       where rownum=1 and pet_num=#{pet_num} ),0)as eat_gram,
    (select b.gram
    from food a, (select food_num, substr(weight, 0, instr(weight, '~') -1) as low_weight, substr(weight, instr(weight, '~')+1) as high_weight, gram
    from food_weight) b
    where a.food_num = b.food_num
    and a.food_num = #{food_num}
    and b.low_weight < (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num}))
    and b.high_weight > (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num}))) as gram,
    nvl((select pet_weight from(select * from weight
       where TO_CHAR(weight_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by weight_date desc) 
       where rownum=1 and pet_num=#{pet_num}),0) as pet_weight,
    (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num})) as avg, 
    (select kind_name from kind where kind_num = (select kind_num from pet where pet_num = #{pet_num})) as kind_name,
    nvl((select total_distance from(select * from activity
        where TO_CHAR(act_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
        order by act_date desc)
        where rownum=1 and pet_num=#{pet_num}),0) as total_distance,
      nvl((select pet_weight from(select * from weight
       where TO_CHAR(weight_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by weight_date desc) 
       where rownum=1 and pet_num=#{pet_num}),0)*99 as recomand_distance
      from pet,eat,weight,activity,kind
      where rownum=1
      and pet.pet_num=eat.pet_num 
      and weight.pet_num=eat.pet_num
      and activity.pet_num = eat.pet_num
      and pet.kind_num = kind.kind_num
      and pet_name = (select pet_name from pet where pet_num=#{pet_num})
		]]>
	</select>

	<select id="petInfo_sm" resultType="PetInfoVO">
		select (SELECT pet_weight
		FROM(SELECT * FROM weight ORDER BY ROWNUM DESC)WHERE ROWNUM = 1) as
		pet_weight,
		(SELECT eat_gram FROM(SELECT * FROM eat ORDER BY ROWNUM
		DESC)WHERE ROWNUM =
		1) as eat_gram,
		(SELECT total_distance FROM(SELECT *
		FROM activity ORDER BY ROWNUM DESC)WHERE
		ROWNUM = 1) as total_distance,
		(SELECT timer FROM(SELECT * FROM activity ORDER BY ROWNUM DESC)WHERE
		ROWNUM =
		1) as timer
		from weight,eat,activity,member
		where
		weight.pet_num=eat.pet_num
		and activity.pet_num=eat.pet_num
		and
		weight.pet_num=#{pet_num}
		and user_id = #{user_id}
		and rownum = 1
	</select>

	<select id="actList" resultType="ActivityVO">
		select * from activity where
		pet_num = #{pet_num} order by
		act_name desc
	</select>

	<select id="changePetList" resultType="PetVO">
		SELECT pet_name, pet_age,
		pet_sex, pet_check, kind_num,pet_num,food_num FROM
		pet
		WHERE pet_num =
		#{pet_num}
	</select>

	<select id="eatList" resultType="EatVO">
		SELECT pet_num, eat_time,
		eat_gram FROM eat
		WHERE pet_num = #{pet_num}
	</select>
	<select id="weightList" resultType="WeightVO">
		SELECT pet_num, weight_date,
		pet_weight FROM weight
		WHERE pet_num = #{pet_num}
	</select>

	<select id="foodInfo" resultType="FoodVO">
		SELECT food_num,
		food_name,food_ps FROM food
		WHERE food_num = #{food_num}
	</select>

	<select id="kindInfo" resultType="KindVO">
		SELECT * FROM Kind
		WHERE
		kind_num = #{kind_num}
	</select>

	<select id="getKindkg" resultType="String">
		SELECT std_high FROM kind
		WHERE kind_num = #{kind_num}
	</select>

	<insert id="weightUpdate">
		INSERT INTO WEIGHT(PET_NUM,PET_WEIGHT)
		VALUES(#{rpipetnum},#{pet_weight})
	</insert>
	<insert id="eatUpdate">
		INSERT INTO EAT(PET_NUM,EAT_GRAM)
		VALUES(#{dispetnum},#{eat_gram})
	</insert>


	<select id="nonSelectedPet" resultType="PetInfoVO">
	<![CDATA[     
      select pet_name,pet.pet_num,
    nvl((select eat_gram from(select * from eat
       where TO_CHAR(eat_time,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by eat_time desc)
       where rownum=1 and pet_num=101 ),0)as eat_gram,
    (select b.gram
    from food a, (select food_num, substr(weight, 0, instr(weight, '~') -1) as low_weight, substr(weight, instr(weight, '~')+1) as high_weight, gram
    from food_weight) b
    where a.food_num = b.food_num
    and a.food_num = 11
    and b.low_weight < (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = 101))
    and b.high_weight > (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = 101))) as gram,
    nvl((select pet_weight from(select * from weight
       where TO_CHAR(weight_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by weight_date desc) 
       where rownum=1 and pet_num=101),0) as pet_weight,
    (select (std_low + std_high) / 2 as avg from kind where kind_num = (select kind_num from pet where pet_num = 101)) as avg, 
    (select kind_name from kind where kind_num = (select kind_num from pet where pet_num = 101)) as kind_name,
    nvl((select total_distance from(select * from activity
        where TO_CHAR(act_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
        order by act_date desc)
        where rownum=1 and pet_num=101),0) as total_distance,
      nvl((select pet_weight from(select * from weight
       where TO_CHAR(weight_date,'YY/MM/DD')=TO_CHAR(sysdate,'YY/MM/DD')
       order by weight_date desc) 
       where rownum=1 and pet_num=101),0)*99 as recomand_distance
      from pet,eat,weight,activity,kind
      where rownum=1
      and pet.pet_num=eat.pet_num 
      and weight.pet_num=eat.pet_num
      and activity.pet_num = eat.pet_num
      and pet.kind_num = kind.kind_num
      and pet_name = (select pet_name from pet where pet_num=101)

      ]]>
	</select>


		<select id="selectHospital" resultType="HospitalVO">
		select * from hospital where
		hosp_name=#{hosp_name}
	</select>
</mapper>